<!DOCTYPE html>
<html>
  <head>
    <title>RedditApi</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
  </head>
  <body>
    <div id="root"></div>
    <%= yield %>
  </body>
</html>
